* {
  box-sizing: border-box;
  margin:0;
  padding:0; 
  
}
@font-face {
  font-family:Duplet ;
  src: url('../src/Fonts/duplet/DupletOpen-Regular.otf');
}
body {
  overflow-x: hidden;
  background: linear-gradient(173.67deg, #00A6A6 11.25%, rgba(0, 255, 255, 0) 79.3%);
  font-family: Duplet;
}










